GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/spring-auth/login/oauth2/code/google
FRONTEND_BASE_URL=http://localhost:3000
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAME_SITE=lax
